<div class="city-show">
    <div>
        <h2> <%= destination.city %>, <%= destination.country %> </h2>
        <img href="/destinations/<%= destination.id %>/reviews" src="<%= destination.image %>" alt="<%= destination.city %>">
    </div>
    <form action="/destinations/<%= destination.id %>/reviews" method="GET">
        <button class="reviews" type="submit">Check out Reviews Here!</button>
    </form>
</div>