<div class="allreviews-container">
    <% if (revData[0] !== undefined) { %>
        <% console.log(revData) %>
        <h2>Reviews for <%=revData[0].destinationName %></h2>
            <a href="/destinations/<%= revData[0].destinationId %>/reviews/new" class="main-review-add">New Review</a>
            <% revData.forEach(function(revData) { %>
                <!-- We need to figure out how to  -->
                <div class="well">
                    <h5><%= revData.userName %></h5>
                    <p><%= revData.reviewText %></p>
                    <% if (currentUser.name === revData.userName) {  %>
                        <div class="edit-delete">
                            <a href="/destinations/<%= revData.destinationId %>/reviews/<%= revData.reviewId %>/edit" class="manip-btn">Edit</a>
                            <form method="POST" action="/destinations/<%= revData.destinationId %>/reviews/<%= revData.reviewId %>/?_method=DELETE">
                                <input type="submit" value="Delete" class="manip-btn">
                            </form>
                        </div>
                    <% } %>
                </div>
            <% }) %>
    <% } else { %>
        <h3>No Reviews yet!</h3>
        <a href="/destinations/<%= destination %>/reviews/new" class="main-review-add">New Review</a>
    <% } %>
</div>