<div class="edit-container">
    <h1>Edit Review</h1>
    <div class="arrow">&#x2193;</div>
    <form action="/destinations/<%= revData.destinationId %>/reviews/<%= revData.reviewId %>/edit/?_method=PUT" method="POST">
        <div class="form-top">
            <div>
                <h3>Name of Reviewer: </h3>
                <h3 id="username"><%= revData.userName %></h3>
            </div>
            <div>
                <h3>Name of City: </h3>
                <h3 id="cityname"><%= revData.destinationName %></h3>
            </div>
        </div>
        <div class="form-input">
            <textarea placeholder="Please update your review..." name="reviewcontent" id="reviewcontent" type="text" value="<%= revData.reviewText %>"></textarea>
            <input type="submit" name="Save" id="edit">
        </div>
    </form>
</div>